{% extends 'base.html.twig' %} {% block title %}Nouveau choix de réponse{% endblock
%} {% block body %}
<h1>Créer un nouveau choix de réponse pour : {{ question }}</h1>

{{ include("answer/_form.html.twig") }}

<a href="{{ path('answer_index') }}">Revenir à la liste</a>
{% endblock %}